.banner{
    background-size: cover;
    height: 700px;
    color: white;
}

.content{
    height: 190px;
    padding-top: 140px;
    padding-left: 15px;
    /* z-index: 2;
    background-color: rgba(37,37,37,0.61); */
}

.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: .3rem;
}

.button{
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;

    padding: 0.5rem 2rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1rem;
}

.button:hover{
    color: black;
    background-color: #e6e6e6;
}

.description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    height: 80px;
    max-width: 360px;
}

.fade-bottom{
    margin-top: 252px;
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);
    /* background-color: #f00; */

}

.icons{
    font-size: 1rem;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .banner {
        height: 600px;
        background-position: center;
    }


.content{
    height: 190px;
    padding-top: 370px;
    padding-left: 15px;
    /* background-color: red; */
    /* z-index: 2;
    background-color: rgba(37,37,37,0.61); */
}

.title{
    font-size: 1.5rem;
}

.description{
    padding-top: 1rem;
    font-size: 0.8rem;
}

  }